---
toc: false
layout: page
title: Welcome to My Website
refactor: true
---

Welcome

{% comment %}
  Detect appearance language and return it through variable "lang"
{% endcomment %}
{% if site.data.locales[site.lang] %}
  {% assign lang = site.lang %}
{% else %}
  {% assign lang = 'en' %}
{% endif %}

{% assign pinned = site.posts | where: 'pin', 'true' %}
{% assign default = site.posts | where_exp: 'item', 'item.pin != true and item.hidden != true' %}

{% assign posts = '' | split: '' %}

<!-- Get pinned posts -->

{% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
{% assign pinned_num = pinned.size | minus: offset %}

{% if pinned_num > 0 %}
  {% for i in (offset..pinned.size) limit: pinned_num %}
    {% assign posts = posts | push: pinned[i] %}
  {% endfor %}
{% else %}
  {% assign pinned_num = 0 %}
{% endif %}

<div id="bio-content">
    <p>Hola, and welcome to my digital domain!</p>
    <p>
        This is Enrique, I'm your tech-savvyish mechanical engineer turned coder hailing from Mexico City 
        and now soaking up the sunny vibes of San Diego. I love biking, skiing, surfing and pretending to golf.
    </p>
    <p>
        Work hard, play harder. I also enjoy exploring how stuff works from rockets to load balancers up to convertible bonds.
        I also love to communicate about how to do stuff. I am a big fan of the <a href="https://medium.com/@epuente_45708">Medium</a> platform.
        Moreover, I'm a firm believer that business has the capacity to transcend mere profits and become a force that 
        ignites positive ripples across society. And in the ever-expanding landscape of technology, we find the tools to untangle the most intricate 
        knots that hold us back. Alright enough with the philosophy, let's get to the point.
    </p>
    <p>
        On this website, you'll find articles, insights, and resources related to Science, Technology and Economy.
        Feel free to browse through my work and get in touch if you have any questions or collaboration ideas.
    </p>
    <p>Connect with me on <a href="https://twitter.com/esepuente">Twitter</a> to stay updated with my latest projects and musings.</p>
</div>

<div id="badges-content">
    <h2>Badges</h2>
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="3a6ac169-1e29-4ad0-b50d-efe1679ce62a" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="143accc0-8078-48ad-acb0-a1950de53220" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="adfc319b-ed50-44e1-8d87-fd885fb53354" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="b3b027c2-930c-47cb-a40e-fb8f45fa40f5" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
    <!-- <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="fc0d837f-053a-4400-910b-dd145d8c76eb" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script> -->
</div>

<div id="post-list">
  {% for post in posts %}
    <a href="{{ post.url | relative_url }}" class="card-wrapper">
      <div class="card post-preview flex-md-row-reverse">
        {% if post.image %}
          {% if post.image.lqip %}
            {% capture lqip %}lqip="{{ post.image.lqip }}"{% endcapture %}
          {% endif %}

          {% assign src = post.image.path | default: post.image %}
          {% unless src contains '//' %}
            {% assign src = post.img_path | append: '/' | append: src | replace: '//', '/' %}
          {% endunless %}

          {% assign alt = post.image.alt | default: 'Preview Image' %}

          <img src="{{ src }}" w="15" h="8" alt="{{ alt }}" {{ lqip }}>
        {% endif %}

        <div class="card-body d-flex flex-column">
          <h1 class="card-title my-2 mt-md-0">
            {{ post.title }}
          </h1>

          <div class="card-text post-content mt-0 mb-2">
            <p>
              {{ content | markdownify | strip_html | truncate: 200 | escape }}
            </p>
          </div>

          <div class="post-meta flex-grow-1 d-flex align-items-end">
            <div class="me-auto">
              <!-- posted date -->
              <i class="far fa-calendar fa-fw me-1"></i>

              <!-- categories -->
              {% if post.categories.size > 0 %}
                <i class="far fa-folder-open fa-fw me-1"></i>
                <span class="categories">
                  {% for category in post.categories %}
                    {{ category }}
                    {%- unless forloop.last -%},{%- endunless -%}
                  {% endfor %}
                </span>
              {% endif %}
            </div>

            {% if post.pin %}
              <div class="pin ms-1">
                <i class="fas fa-thumbtack fa-fw"></i>
                <span>{{ site.data.locales[lang].post.pin_prompt }}</span>
              </div>
            {% endif %}
          </div>
          <!-- .post-meta -->
        </div>
        <!-- .card-body -->
      </div>
    </a>
  {% endfor %}
</div>
<!-- #post-list -->
